*{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}
section{
	height: 556px;
}

.header{
	background: #333;
	color: white;
}
.header a{
	color: white;
	text-decoration: none;
}
.ultimate{
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation ul li{
	display: inline-block;

}
.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

#links{
	color: black;
	font-size: 25px;
	padding: 1rem;	
	font-family: calibri;
	text-align: right;
}
#pultimate{
    color: yellowgreen;
	font-size: 29px;
	text-align: center;	
	padding: 1rem;	
}
#yo{
    color: yellowgreen;
	font-size: 23px;
	text-align: center;		
}
.links2{
	text-align: center;
	font-size: 32px;
	padding: 2rem;
}
h1{
	color: lightblue;
	font-size: 45px;
	font-family: gorgia;
	text-align: center;
	padding: 2rem;
}